
.row {
	clear:both;
}
.end {
	height: 0;
	overflow: hidden;
}

.product_options h2.price {
	margin-bottom: 10px;
}


.product_information {
    float: left;
	position: relative;
	width: 445px;
	margin-left: 20px;
	
}

.product_status {
	
	line-height: 21px;
}
.in_stock span{
	float: left;
	margin-right:100px;
	display:block;
	width:423px;
	background: #669900;
	color: #fff;
	font-weight: bold;
	padding: 0 10px;
	font-size: 16px;
}
p.description {
	font-size: 12px;
	text-align: justify;
	padding-top: 14px;

	padding-bottom: 20px;
	padding-left: 0;
}

.product_options {
	background: url(../images/product_options_bg.gif) repeat-x;
	padding: 10px;
	height: auto !important;
	height: 45px;
	min-height: 45px;
	margin-bottom: 20px;
}
.product_options .add-to-basket {
	float: right;
}
.product_options h2 {
	color: #197B30;
	font-size: 18px;
	line-height: 20px;
	padding: 3px 0;
	height: 5px;
}

 .rating_holder {
	color:#197B30;
	font-size: 12px;
	line-height: 20px;
	padding: 3px 0;
	height: 5px;
	font-weight: bold;
}